@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  background-color:#57EFFF;
  font-size:20px;
  color:rgba(0,0,0,0.8);
  line-height:1.4;
}

.wrapper {
  text-align:center;
}

.content {
  text-align:left;
  margin:0px 40px;
}


@media only screen and (min-width: 600px) {
.social {
max-width:1000px;
display: inline-grid;
grid-gap: 20px;
grid-template-columns: [col1-start] 1fr  [col2-start] 1fr  [col3-start] 1fr  [col4-start] 0.5fr [col4-end];
grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.social-about {
grid-column: col1-start / col4-start;
grid-row: row2-start ;
}

.social-illustration {
grid-column: col4-start / col4-end;
grid-row: row2-start ;
}

}

.social-illustration img {
  width:100%;
  margin-top:30px;
}

.social h2 {
  font-size:16px;
  font-style:italic;
  font-weight:400;
  margin-top:40px;
}

.social ul {
list-style:none;
margin:0px 0px 30px 0px;
padding:0px;
}


.video {
  background-color: #000;
  text-align:center;
  margin:-1px -40px 20px -40px;
}

.videoPlayer {
  display:inline-block;
}

.videoPlayer iframe, .videoPlayer  object, .videoPlayer  embed {
  width:480px;
  height:270px;
  max-width:90%;
}


.videoByLine {
  text-align:center;
}

.musicIllustration {
  display:block;
  margin:100px auto 0px;
}

a {
  text-decoration:none;
  border-bottom:2px solid rgba(0,0,0,0.5);
  color:rgba(0,0,0,0.8);
}

a:hover {
  border-bottom:2px solid rgba(0,0,0,0.8);
  color:rgba(0,0,0,1);
  background-color:#F2FF00;
}
header {
  display:block;
  text-align:left;
  height:50px;
  line-height:50px;
  margin:10px 20px 0px 20px;
  border-bottom:1px solid rgba(0,0,0,0.3);
  text-transform:uppercase;
}

.header-right {
  float:right;
  margin-top:8px;
}

.header-right a {
  display:inline-block;
  line-height:5px;
  padding:5px 10px;
  margin:0px;
  border-bottom:0px;
  border-radius:5px;
}

.mainPoints {
  list-style:none;
  font-size:32px;
  margin:40px 0px;
  font-weight:700;
  padding:0px;
}

.mainPoints li {
  margin-bottom:10px;
}
 
.lifeStats {
  margin:120px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  font-weight:200;
  list-style: circle inside none;
}

.lifeStats li {
  margin:0px 0px 10px 0px;
  padding:0px;
}

.contactPage, .cvPage {
  text-align:center;
  margin:100px 0px 100px;
}

.cvPage img {
 vertical-align:middle;
 margin-right:50px;
 margin-bottom:30px;
}

.contactPage p { 
  text-align:center;
  margin:15px auto;
  width:60%;
}

.contactPage hr { 
  border:2px solid rgba(0,0,0,0.8);
  width:100px;
  margin:50px auto;
}


footer {
  font-size:18px;
  text-align:center;
  width:100%;
  padding:80px 0px 10px 0px;
  font-weight: 200;
}

