
.index-back {
background: rgb(0,0,0);
background: linear-gradient(346deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.09707633053221287) 50%, rgba(255,255,255,0) 100%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position:  center 0px;
  background-size: 100% 700px;

  animation: colorchange 50s infinite;
  @keyframes colorchange
  {
    0%   {background-color: #9FFFBF;}
    33%  {background-color: #FFA8E4;}
    66% {background-color: #85E3FF;}
    100% {background-color: #9FFFBF;}
  }

}
.purple {
  background-color:#FFA8E4;
}
.grey {
  background-color:#E5E5E5;
}
.blue {
  background-color:#85E3FF;
}
.grass-green {
  background-color:#CDFB96;
}
.yellow {
  background-color:#FFF88D;
}
.blue-green {
  background-color:#9FFFBF;
}
.tapes {
 background-image:
    repeating-radial-gradient(
      circle at center center,
      #eee,
      #ccc 60px
    );
 background-attachment: fixed;

}
.paper {
  background-image:
    linear-gradient(
      rgba(255,150,255,0.3),
      rgba(255,255,200,0.6)
    ),
      url("../images/patterns/paper-fibers.png");
      background-size:cover, repeat;
      background-attachment: fixed;
}
.paper-alt {
  background-image:
    radial-gradient(
      circle at top left,
      rgba(255,200,150,0.3),
      rgba(255,200,255,0.7)
    ),
      url("../images/patterns/paper-fibers.png");
      background-size:cover, repeat;
      background-attachment: fixed;
}
.tape1 {
  background-image:
    linear-gradient(
      rgba(255,150,255,0.5),
      rgba(255,255,200,0.6)
    ),
      url("../images/patterns/triangle-mosaic.png");

      background-size:cover, repeat;
      background-attachment: fixed;
}
.tape2 {
  background-image:
    linear-gradient(
      rgba(150,200,255,0.8),
      rgba(255,200,255,0.7)
    ),
      url("../images/patterns/funky-lines.png");

      background-size:cover, repeat;
      background-attachment: fixed;
}
.tape3 {
  background-image:
    linear-gradient(
      rgba(255,200,150,0.5),
      rgba(150,100,255,0.6)
    ),
      url("../images/patterns/arches.png");

      background-size:cover, repeat;
      background-attachment: fixed;
}
