
.index-back {
  background:
  url("../images/gradient.svg")
  center -550px / 7100px /* position / size */
  no-repeat                /* repeat */
  scroll                    /* attachment */
  border-box              /* origin */
  content-box              /* clip */
  #9FFFBF;

  animation: colorchange 100s infinite;
  @keyframes colorchange
  {
    0%   {background-color: #9FFFBF;}
    33%  {background-color: #FFA8E4;}
    66% {background-color: #85E3FF;}
    100% {background-color: #9FFFBF;}
  }

}
.purple {
  background-color:#FFA8E4;
}
.grey {
  background-color:#E5E5E5;
}
.blue {
  background-color:#85E3FF;
}
.grass-green {
  background-color:#CDFB96;
}
.yellow {
  background-color:#FFF88D;
}
.blue-green {
  background-color:#9FFFBF;
}
