


.grain{
  position:fixed;
  background-repeat: repeat;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-image: url("../images/patterns/noise.png");
  background-size: 150px 150px;
  animation: static 1s steps(1) infinite;
  opacity:0.05;
  z-index:11;
  pointer-events: none;
}

@function p(){@return percentage(random(99))}

@keyframes static {
  @for $i from 0 to 99 {
    #{$i}% {background-position: p() p()}
  }
}

