@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-size:20px;
  color:rgba(0,0,0,0.8);
  line-height:1.4;
}

.social-back {
  background:
     url("../images/graph.svg")
     center top / 1800px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     border-box              /* origin */
     content-box              /* clip */
     #FFF88D;
}
.index-back {
  background:
     url("../images/seascape.svg")
     60% 220px / 1600px /* position / size */
     no-repeat                /* repeat */
     scroll                    /* attachment */
     border-box              /* origin */
     content-box              /* clip */
     #9FFFBF;

animation: colorchange 100s infinite;
    @keyframes colorchange
    {
      0%   {background-color: #9FFFBF;}
      33%  {background-color: #FFA8E4;}
      66% {background-color: #85E3FF;}
      100% {background-color: #9FFFBF;}
    }

}
.purple {
  background-color:#FFA8E4;
}
.blue {
  background-color:#85E3FF;
}
.grass-green {
  background-color:#CDFB96;
}
.yellow {
  background-color:#FFF88D;
}
.blue-green {
  background-color:#9FFFBF;
}

.wrapper {
  text-align:center;
  maring:0px;
  padding:0px;
  min-height:100vh;
}

.content {
  margin:0px 40px;
  text-align:left;
}

.strike {
  // text-decoration:line-through;
}

.social {
margin:40px auto;
text-align:left;
}

@media only screen and (min-width: 600px) {
.social {
max-width:1100px;
margin:80px auto;
display: grid;
grid-gap: 40px;
grid-template-columns: [col1-start] 1fr  [col2-start] 1fr  [col3-start] 1fr  [col4-start] 0.6fr [col4-end];
grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.social-about {
grid-column: col2-start / col4-start;
grid-row: row2-start ;
margin-top:40px;
}

.social-illustration {
grid-column: col4-start / col4-end;
grid-row: row2-start ;
margin-top:40px;
}

}


.social-sentiment {
float:left;
width:40px;
margin-top:-3px;
  opacity:0.7;
}

.social-about {
  background-color:#FFF88D;
}

.social-illustration img {
  width:100%;
  margin-top:30px;
}

.social h2 {
  font-size:0.9em;
  font-weight:400;
  margin:0px 0px 0px 50px;
  background-color:#FFA8E4;
  padding:5px 8px;
color:#FFF;
border-radius:2px;
}

.social ul {
list-style:none;
  font-weight:200;
margin:0px 0px 50px 50px;
padding:0px;
}

.social li {
 margin-bottom:5px;
}

.social li span {
padding:5px 8px;
  background-color:#FFA8E4;
border-radius:2px;
}

.music {
margin:40px auto;
}

@media only screen and (min-width: 700px) {
.music {
max-width:1000px;
text-align:left;
display: grid;
grid-gap: 40px;
grid-template-columns: [col1-start] 2fr  [col2-start] 3fr  [col2-end];
grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.music-video {
grid-column: col2-start / col2-end;
grid-row: row1-start ;
}

.music-about{
grid-column: col1-start / col2-start;
grid-row: row1-start ;
}

.music-illustration {
grid-column: col1-start / col2-end;
grid-row: row2-start ;
}

}

.music-about{
margin-bottom:70px;
}

.music-video {
  margin-bottom:40px;
  text-align:center;
}
.videoPlayer {
}

.videoPlayer iframe, .videoPlayer  object, .videoPlayer  embed {
  max-width:100%;
}


.music-illustration {
  text-align:center;
  display:block;
  margin:30px  auto 0px;
}

a {
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.4);
  color:rgba(0,0,0,0.8);
}

@media (hover: hover) {
a:hover {
  border-bottom:1px solid rgba(0,0,0,0.8);
  color:rgba(0,0,0,1);
  background-color:#F2FF00;
}
}
header {
  display:block;
  text-align:left;
  height:50px;
  line-height:50px;
  margin:0px 10px 0px 20px;
  text-transform:uppercase;
//  border-bottom:2px solid rgba(0,0,0,0.8);
}

.header-right {
  float:right;
  margin-top:5px;
}

.header-path {
margin:0px 6px 0px 10px;
}

.header-right a {
  display:inline-block;
  line-height:5px;
  padding:5px 10px;
  margin:0px;
  border-bottom:0px;
  border-radius:5px;
}
.header-right img {
}

.mainPoints {
  list-style:none;
  font-size:1.7em;
  margin:20px 0px 0px;
  font-weight:400;
  padding:0px;
}

.mainPoints li {
  margin-bottom:5px;
}

.mainPoints a {
}

.cvPage {
  text-align:center;
  margin:50px 0px 100px;
}

.cvPage img {
 vertical-align:middle;
 margin-bottom:40px;
 max-width:100%;
}


.contact {
max-width:500px;
margin:40px auto;
}

.contact-words {
  text-align:left;
}

.contact p { 
  margin:0px auto 35px;
}

.contact hr { 
  border:1px solid rgba(0,0,0,0.8);
  width:100px;
  margin:50px auto;
}


footer {
  font-size:0.8em;
  text-align:center;
  width:100%;
  padding:80px 0px 10px 0px;
  font-weight: 200;
}


form {
text-align:left;
}

.form-hidden {
display:none;
}


label {
display:block;
margin-bottom:5px;
margin-top:-10px;
}

input {
display:block;
box-sizing: border-box; 
width:100%;
padding:10px;
border:1px solid #FFF;
border-radius:2px;
}
textarea {
display:block;
box-sizing: border-box; 
width:100%;
padding:10px;
border:1px solid #FFF;
border-radius:2px;
}

button, .button {
  display:inline-block;
  border: 0 none;
  border-radius: 4px;
  outline: 0 none;
  text-decoration: none;
  line-height: inherit;
  padding:10px 20px;
  background-color:#FFF;
  border-width:0px;
}

.button img, button img {
margin:0px 8px -5px 0px;
}

button:hover , .button:hover {
  background-color:#FFF;
  margin-bottom:1px;
  margin-top:-1px;
box-shadow:         0px 1px 2px rgba(0,0,0,0.3);
  border-width:0px;
}
button:active, .button:active {
  color:#000;  
  border-width:0px;
  background-color:#FFF;
  margin-bottom:0px;
  margin-top:0px;
}
.kw-credit {
  display:none !important;
}



@media only screen and (min-width: 700px) {
.index {
max-width:1000px;
display: grid;
grid-gap: 0px;
grid-template-columns: [col1-start] 1fr  [col2-start] 1fr  [col2-end];
grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.mainPoints {
grid-column: col1-start / col2-start;
grid-row: row1-start ;
}

ticker {
grid-column: col2-start / col2-end;
grid-row: row2-start ;
}

}

.index {
margin:40px auto;
text-align:left;
}

.index ticker {
  display:block;
  margin:155px 0px;
}

.ticker-fadetrue, .ticker-fadefalse {

}

.ticker-message {
  font-size:1.6em;
  font-weight:200;
}

.ticker-label {
  font-size:1em;
  font-weight:200;
  margin-bottom:10px;
}

.ticker-fadetrue {
  animation: blinkIn 0.5s;
    @keyframes blinkIn
    {
      0%   {opacity: 0;}
      10%   {opacity: 0;}
      100% {opacity: 1;}
    }
}

.ticker-fadefalse {
  animation: blinkInB 1.2s;
    @keyframes blinkInB
    {
      0%   {opacity: 0;}
      10%   {opacity: 0;}
      100% {opacity: 1;}
    }
}
