body {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-size:20px;
  color:rgba(0,0,0,0.8);
  line-height:32px;
  background-color:#000;
}

wrapper {
  text-align:center;
  margin:0px;
  padding:0px;
  min-height:100vh;
}

.content {
  margin:0px 40px;
  text-align:left;
}

.social {
  margin:40px auto;
  text-align:left;
}

@media only screen and (min-width: 600px) {
  .social {
    max-width:1200px;
    margin:80px auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: [col1-start] 1fr  [col2-start] 1fr  [col3-start] 1fr  [col4-start] 0.6fr [col4-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  }

}


.social-sentiment {
  float:left;
  width:40px;
  margin-top:-3px;
  opacity:0.7;
}

.social-about {
  background-color:#FFF88D;
}

.social-illustration img {
  width:100%;
  margin-top:40px;
}

.social ul {
  list-style:none;
  font-weight:200;
  margin:0px 0px 48px 48px;
  padding:0px;
}

.social li {
  margin-bottom:1px;
}

.social li span {
  padding:4px 8px;
  background-color:#FFA8E4;
  border-radius:2px;
}

a {
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.4);
  color:rgba(0,0,0,0.8);
}

@media (hover: hover) {
  a:hover {
    border-bottom:1px solid rgba(0,0,0,0.8);
    color:rgba(0,0,0,1);
    background-color:#F2FF00;
  }
}

header {
  text-align:left;
  height:48px;
  line-height:48px;
  margin:0px 10px 0px 10px;
  text-transform:uppercase;
}

header img {
  vertical-align:middle;
}

.header-right {
  float:right;
}

.header-path {
  margin:0px 8px 0px 0px;
}

header a {
  padding:4px 8px 6px;
  border-bottom:0px;
  border-radius:4px;
}

header a:hover {
    border-width:0px;
    background-color:none;
}


.mainPoints {
  list-style:none;
  font-size:32px;
  margin:0px;
  font-weight:400;
  padding:0px;
  line-height:48px;
}

.mainPoints li {
  margin-bottom:5px;
}

.mainPoints a {
}

.cvPage {
  text-align:center;
  margin:48px 0px 96px;
}

.cvPage img {
  vertical-align:middle;
  margin-bottom:40px;
  max-width:100%;
}

.cvPage a {
  margin: 0px 48px;
}


.contact {
  max-width:560px;
  margin:40px auto;
}

.contact-words {
  text-align:left;
}

.contact-thankyou {
  text-align:center;
  margin-top:100px;
}

.contact-thankyou p:first-child{
  font-size:1.8em;
  font-weight:200;
}

.contact p { 
  margin:0px auto 35px;
}

.contact hr { 
  border:1px solid rgba(0,0,0,0.8);
  width:100px;
  margin:48px auto;
}



form {
  text-align:left;
}

.form-hidden {
  display:none;
}


label {
  display:block;
  margin-bottom:8px;
  margin-top:-8px;
}

input {
  display:block;
  box-sizing: border-box; 
  width:100%;
  padding:8px;
  border:1px solid #FFF;
  border-radius:2px;
}
textarea {
  display:block;
  box-sizing: border-box; 
  width:100%;
  padding:8px;
  border:1px solid #FFF;
  border-radius:2px;
}

button, .button {
  font-size:20px;
  line-height:32px;
  display:inline-block;
  border: 0 none;
  border-radius: 4px;
  outline: 0 none;
  text-decoration: none;
  line-height: inherit;
  padding:8px 16px;
  background-color:#FFF;
  border-width:0px;
}

.button img, button img {
  margin:0px 8px -6px 0px;
}

button:hover , .button:hover {
  background-color:#FFF;
  margin-bottom:1px;
  margin-top:-1px;
  box-shadow:         0px 1px 2px rgba(0,0,0,0.3);
  border-width:0px;
}
button:active, .button:active {
  color:#000;  
  border-width:0px;
  background-color:#FFF;
  margin-bottom:0px;
  margin-top:0px;
}

@media only screen and (min-width: 700px) {
  .index {
    max-width:950px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: [col1-start] 1fr  [col2-start] 1fr  [col2-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  }

  .mainPoints {
    grid-column: col1-start / col2-end;
    grid-row: row1-start ;
  }

  ticker {
    grid-column: col2-start / col2-end;
    grid-row: row2-start ;
  }

}

.index {
  margin:40px auto;
  text-align:left;
}

.index ticker {
  display:block;
  margin:200px 0px 104px 0px;
}

.ticker-fadetrue, .ticker-fadefalse {

}

.ticker-message {
  font-size:32px;
  font-weight:200;
  min-height:150px;
  line-height:48px;
}

.ticker-label {
  font-weight:200;
  margin-bottom:8px;
}

.ticker-fadetrue {
  animation: blinkIn 1s;
  @keyframes blinkIn
  {
    0%   {opacity: 0;}
    10%   {opacity: 0;}
    100% {opacity: 1;}
  }
}

.ticker-fadefalse {
  animation: blinkInB 1s;
  @keyframes blinkInB
  {
    0%   {opacity: 0;}
    10%   {opacity: 0;}
    100% {opacity: 1;}
  }
}

.blog-entries {
  list-style:none;
  margin: 80px 0px 160px; 
  padding: 0px;
  text-align:center;
}

.blog-entry {
  margin:0px auto 32px auto;
  text-align:left;
}

.blog-entry-title {
  font-size:32px;
  font-weight:200;
  line-height:48px;
}

.blog-entry-meta {
  font-weight:200;
  font-size:16px;;
}


@media only screen and (min-width: 600px) {
  .blog-entry {
    max-width:1000px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: [col1-start] 1fr  [col2-start] 3fr  [col2-end];
    grid-template-rows: [row1-start] auto [row1-end];
    margin-bottom:32px;
  }

  .blog-entry-title {
    grid-row: row1-start ;
    grid-column: col2-start / col2-end;
  }

  .blog-entry-meta {
    grid-row: row1-start ;
    grid-column: col1-start / col2-start;
place-self: center stretch;
    text-align:right;
  }

}



.blog-post {
  margin:80px auto;
}

.blog-post-title {
   font-size:48px;
   line-height:64px;
   font-weight:200;
   margin:0px;
}

.blog-post-meta {
   font-weight:200;
   font-size:20px;
margin-bottom:40px;
align-self: start;
}

.blog-post-meta div:first-child {
   font-weight:400;
}

.blog-post-author {
   font-weight:200;
   font-size:16px;
   line-height: 24px;
align-self: center;
    border-top:1px solid rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding: 20px 0px;
}

.blog-post-author div:first-child {
  margin-bottom:16px;
}

.blog-post-content {
  margin-bottom:56px;
}

@media only screen and (min-width: 700px) {
  .blog-post {
    max-width:1000px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: [col1-start] 1fr  [col2-start] 1.5fr  [col3-start] 1fr [col3-end]; 
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  }

  .blog-post-title {
    grid-row: row1-start;
    grid-column: col1-start / col3-start;
  }

  .blog-post-content {
    grid-row: row2-start;
    grid-column: col2-start / col3-end;
  }

  .blog-post-meta {
    grid-row: row2-start;
    grid-column: col1-start / col2-start;
    text-align:right;
  }

  .blog-post-author {
    grid-row: row1-start;
    grid-column: col3-start / col3-end;
  }

}

// podcast

  .episode-podcast {
    text-align:center;
  }

  .episode-tape {
    text-align:center;
  }

  .episode-details {
    text-align:center;
  }

@media only screen and (min-width: 700px) {
  .episode {
    max-width:1000px;
    margin:0px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: [col1-start] 1fr  [col2-start] 4fr  [col3-start] 1fr [col3-end]; 
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  }

  .episode-podcast {
    grid-row: row1-start;
    grid-column: col2-start / col3-start;
  }

  .episode-next {
    grid-row: row2-start;
    grid-column: col1-start / col2-start;
    text-align:left;
    align-self: center;
  }

  .episode-previous {
    grid-row: row2-start;
    grid-column: col3-start / col3-end;
    text-align:right;
    align-self: center;
  }

  .episode-tape {
    grid-row: row2-start;
    grid-column: col2-start / col3-start;
  }
  
  .episode-details {
    grid-row: row3-start;
    grid-column: col2-start / col3-start;
  }
}

@media only screen and (min-width: 600px) {
  

}

