
// podcast

  .episode {
    text-align:center;
  }


  .episode-intro {
    margin:20px 0px 40px 0px;
  }

  .episode-intro p {
    font-weight:200;
    margin:0.3em 0px;
  }

  .episode-tape {
    justify-self: center;
  }

  .episode-details {
    text-align:center;
  }

  .episode .SignupForm {
    margin-top:50px;
  }

  .episode-next, .episode-previous {
    display:inline-block;
    margin:10px;
    a {
      padding:10px 15px 15px 15px;;
      border:none;
      border-radius:35px;
      background-color:rgba(255,255,255,0.8);
    }
    a:hover {
      border-width:0px;
      background-color:rgba(255,255,255,1);
    }
    img {
      vertical-align:middle;
      width:25px;
    }
  }




@media only screen and (min-width: 700px) {
  .episode {
    max-width:1000px;
    margin:0px auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: [col1-start] 1fr  [col2-start] 4fr  [col3-start] 1fr [col3-end]; 
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-end]
  }

  .episode-intro {
    grid-row: row1-start;
    grid-column: col2-start / col3-start;
  }
  .episode .subscribe {
    grid-row: row4-start;
    grid-column: col2-start / col3-start;
  }

  .episode-next {
    grid-row: row2-start;
    grid-column: col1-start / col2-start;
    text-align:left;
    align-self: center;
    justify-self: end;
  }

  .episode-previous {
    grid-row: row2-start;
    grid-column: col3-start / col3-end;
    text-align:right;
    align-self: center;
    justify-self: start;
  }

  .episode-tape {
    grid-row: row2-start;
    grid-column: col2-start / col3-start;
  }
  
  .episode-details {
    grid-row: row3-start;
    grid-column: col2-start / col3-start;
  }
}

@media only screen and (min-width: 600px) {
  

}
